# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log
.yarnrc.yml
.yarnrc
.yarn/*
.pnp.js

# webstorm
.idea
.DS_Store
package.json.lerna_backup
.husky

example
src
test
.editorconfig
.eslintignore
.eslintrc.js
.eslintrc.cjs
.gitattributes
.gitignore
.npmignore
.npmrc
.yarnrc.yml

gulpfile.js
gulpfile.mjs
jest.config.mjs
jest.config.js
tsconfig.json